.business-details h1 {
  font-size: 48px;
  font-weight: 500;
  text-transform: capitalize;
  margin-top: -1%;
  color: black;
}

.business-details h3 {
  color: grey;
  font-weight: 400;
}

.business-details p {
  line-height: 1.5;
  letter-spacing: 0.01rem;
  color: black;
}

.business-category {
  padding-top: 2%;
}

.business-category h5 {
  text-transform: capitalize;
  padding-top: 5%;
  font-size: 12px;
}
